apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "firezone.fullname" . }}
  labels:
    {{- include "firezone.labels" . | nindent 4 }}
data:
  # Registry
  DOCKER_REGISTRY: {{ .Values.global.dockerRegistry }}
  # Elixir Logger
  LOG_LEVEL: {{ .Values.global.logLevel }}
  # OTLP
  {{- if .Values.global.otlp.endpoint }}
  OTLP_ENDPOINT: {{ .Values.global.otlp.endpoint }}
  {{- end }}
  # Email
  OUTBOUND_EMAIL_ADAPTER: {{ .Values.global.email.adapter }}
  OUTBOUND_EMAIL_FROM: {{ .Values.global.email.from }}
  # Database
  DATABASE_HOST: {{ required "Missing `firezone.database.host`" .Values.global.database.host }}
  DATABASE_PORT: {{ quote (required "Missing `firezone.database.port`" .Values.global.database.port) }}
  DATABASE_NAME: {{ required "Missing `firezone.database.database`" .Values.global.database.database }}
  DATABASE_SSL: {{ quote .Values.global.database.ssl }}
  {{- if .Values.global.database.pool_size }}
  DATABASE_POOL_SIZE: {{ quote .Values.global.database.pool_size }}
  {{- end }}
  {{- if .Values.global.database.parameters }}
  DATABASE_PARAMETERS: {{ .Values.global.database.parameters | toJson }}
  {{- end }}
  # Erlang Cluster
  {{- if .Values.global.erlangCluster.enableKubernetesClusterModule }}
  ERLANG_CLUSTER_ADAPTER: Elixir.Cluster.Strategy.Kubernetes
  ERLANG_CLUSTER_ADAPTER_CONFIG: |
    {
      "mode":"ip",
      "kubernetes_node_basename":"{{ .Values.web.releaseName }}",
      "kubernetes_selector":"{{ .Values.global.erlangCluster.kubernetes.selector.key }}={{ .Values.global.erlangCluster.kubernetes.selector.value }}",
      "kubernetes_namespace":"{{ .Release.Namespace }}",
      "kubernetes_ip_lookup_mode":"pods"
    }
  {{- else }}
  ERLANG_CLUSTER_ADAPTER: {{ .Values.global.erlangCluster.custom.adapter }}
  ERLANG_CLUSTER_ADAPTER_CONFIG: {{ .Values.global.erlangCluster.custom.opts }}
  {{- end }}
  CLUSTER_DOMAIN: {{ .Values.clusterDomain }}
