image:
  repository: ghcr.io/firezone/gateway
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

logLevel: trace
logFormat: json
config:
  # Websocket URL of the Firezone API
  apiUrl: wss://api.firezone.dev
  # Token provided to you by Firezone
  # You can specify it directly of reference an existing secret
  # Note: It can also be a path to a file containing the token
  token:
    key: FIREZONE_TOKEN
    value:
    existingSecret:
  telemetry:
    enabled: true
  increaseKernelBuffers: false

replicas: 1
revisionHistoryLimit: 10

envFrom: []
extraEnv: []

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext:
  privileged: true
  readOnlyRootFilesystem: true

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

dnsPolicy: ~
dnsConfig: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

pdb:
  enabled: false
  labels: {}
  annotations: {}
  minAvailable: ""
  maxUnavailable: ""
