apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "firezone.web.fullname" . }}
  labels:
    {{- include "firezone.web.labels" . | nindent 4 }}
spec:
  {{- if not .Values.web.autoscaling.enabled }}
  replicas: {{ .Values.web.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.web.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "firezone.web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.web.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "firezone.web.labels" . | nindent 8 }}
        {{- with .Values.web.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{ .Values.global.erlangCluster.kubernetes.selector.key }}: {{ .Values.global.erlangCluster.kubernetes.selector.value }}
    spec:
      {{- with .Values.web.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "firezone.web.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.web.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.web.securityContext | nindent 12 }}
          image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "firezone.fullname" . }}
          env:
            - name: PHOENIX_HTTP_WEB_PORT
              value: {{ quote .Values.web.service.targetPort }}
            - name: HEALTH_PORT
              value: {{ .Values.web.healthPort | quote }}
            - name: API_EXTERNAL_URL
              value: {{ required "Missing `firezone.externalApiURL`" .Values.global.externalApiURL }}
            - name: WEB_EXTERNAL_URL
              value: {{ required "Missing `firezone.externalWebURL`" .Values.global.externalWebURL }}
            - name: API_URL_OVERRIDE
              value: {{ required "Missing `firezone.externalApiWSURL`" .Values.global.externalApiWSURL }}
            - name: RELEASE_NAME
              value: {{ .Values.web.releaseName }}
            - name: RELEASE_HOSTNAME
              {{- if .Values.global.erlangCluster.enableKubernetesClusterModule }}
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
              {{- else }}
              value: {{ .Values.web.releaseHostname }}
              {{- end }}
            - name: BACKGROUND_JOBS_ENABLED
              value: {{ .Values.web.backgroundJobsEnabled | quote }}
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NODE_TYPE
              value: portal
            {{ include "firezone.common" . | nindent 12 }}
            {{ include "firezone.database.auth" . | nindent 12 }}
            {{ include "firezone.secrets" . | nindent 12 }}
            {{- with .Values.web.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with .Values.global.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.web.service.targetPort }}
              protocol: TCP
            - name: epmd
              containerPort: {{ .Values.global.erlangCluster.epmdPort }}
              protocol: TCP
            - name: distribution
              containerPort: {{ .Values.global.erlangCluster.distributionPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.web.healthPort }}
            initialDelaySeconds: {{ .Values.web.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.web.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.web.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.web.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.web.livenessProbe.failureThreshold }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.web.healthPort }}
            initialDelaySeconds: {{ .Values.web.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.web.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.web.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.web.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.web.readinessProbe.failureThreshold }}
          resources:
            {{- toYaml .Values.web.resources | nindent 12 }}
          {{- with .Values.web.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.web.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.web.dnsPolicy }}
      dnsPolicy: {{ .Values.web.dnsPolicy }}
      {{- end }}
      {{- with .Values.web.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
